<!-- This is the placeholder user dashboard -->

<div class="sidenav">
  <p>Favorites</p>
  <p>Representatives</p>
  <% current_user.house_members.each do |member| %>
    <a href="/house_members/<%= member.id %>"><%= member.first_name %> <%= member.last_name %></a>
  <% end %>
  <p>Senators</p>
  <% current_user.senators.each do |senator| %>
    <a href="/senators/<%= senator.id %>"><%= senator.first_name %> <%= senator.last_name %></a>
  <% end %>
</div>
