<% if current_user.has_favorites? %>
<div id="dashboard-senate-sidenav">
  <h4>Favorites</h4>
  <p>Senators</p>
  <% @senator_favs.each do |senator| %>
    <p><a href="/senators/<%= senator.id %>"><%= senator.first_name %> <%= senator.last_name %></a></p>
  <% end %>
</div>

<div id="dashboard-rep-sidenav">
  <p>Representatives</p>
  <% @house_favs.each do |member| %>
    <p><a href="/house_members/<%= member.id %>"><%= member.first_name %> <%= member.last_name %></a></p>
  <% end %>
</div>
<section style="background:transparent;" class="jumbotron text-center">
  <div class="container">
    <h2 class="jumbotron-heading smaller">News from Your Favorite Representatives</h2>
  </div>
</section>
<div>
  <div class="container">
    <div class="row">
      <% @articles.each do |article| %>
      <div class="col-md-4 cards">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <a target="_blank" href="<%= article.url %>" class="text-dark card-title"><%= article.title %></a>
            <br><br>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group card-link">
              </div>
              <small class="text-muted card-source"><%= article.source %></small>
              <small class="text-muted card-published">Published: <%= article.published_at.to_time.strftime("%m-%d-%Y") %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
<br><br>
<h2 class='text-center'>Compared Representatives</h2><br><br>
<div class="container">
  <div class="row">
    <% @compared_reps.each do |representative| %>
    <div class="col-3">
      <div class="card representative compared-rep" style="width: 12rem;">
        <img class="card-img-top rep-image"
          src="<%= @service.get_image(representative.congress_id) %>" alt="Card image cap">
        <div class="card-body">
          <p class="card-text name"><%= representative.full_name %></p>
          <% if representative.class == Senator %>
          <p class="card-text rep-score">Most Recent Score: <%= number_to_percentage(representative.senator_favorites.last.comparison_score, precision: 0) %></p>
          <p class="card-text rep-aggregate_score">Overall Comparison Score: <%= number_to_percentage(representative.senator_favorites.last.aggregate_comparison, precision: 0) %></p>
          <% else %>
          <p class="card-text rep-score">Most Recent Score: <%= number_to_percentage(representative.house_favorites.last.comparison_score, precision: 0) %></p>
          <p class="card-text rep-aggregate_score">Overall Comparison Score: <%= number_to_percentage(representative.house_favorites.last.aggregate_comparison, precision: 0) %></p>
          <% end %>
        </div>
      </div><br>
    </div>
    <% end %>
  </div>
</div>
<% else %>
  <section style="background:transparent" class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Add some representatives to your favorites to see news about them and compare positions!</h1>
  </div>
</section>
<% end %>
