<!DOCTYPE html>
<html>

<head>
  <title>Representative Show Page</title>
</head>
<div class="sidenav" style="margin-top: 10px;">
  <p>Representatives in <%= @state %></p>
  <% @other_reps.each do |rep| %>
    <p><%= link_to "#{rep.first_name} #{rep.last_name}", house_member_path(rep.id) %></p>
  <% end %>
</div>

<div class="senate-sidenav" style="margin-top: 10px;">
  <p>Senators in <%= @state %></p>
  <% @senators.each do |senator| %>
  <p><%= link_to "#{senator.first_name} #{senator.last_name}", senator_path(senator.id)%></p>
  <% end %>
</div>
<div class="right-side-nav">
  <a class="twitter-timeline" href="https://twitter.com/<%= @rep.twitter_account %>?ref_src=twsrc%5Etfw">Tweets by RepAOC</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

  <body>
    <section class='rep-info' style="margin-left:225px;margin-top:25px;">
    <div class="row align-items-center my-5">
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class='rep-name'><%= @rep.first_name %> <%= @rep.last_name %></h1>
        <h4 class='rep-district'><%= "Representative from:" %><br/>
          <%= ::States[@rep.state] + "'s " %>
          <% if @rep.at_large %>At-Large District
          <% else %><%= @rep.district.ordinalize + " District" %>
          <% end %> </h4>
        <% if current_user && current_user.house_members.include?(@rep)%>
          <%= button_to "Remove from Favorites", "/house_members/#{@rep.id}/favorites", method: :delete %>
        <% elsif current_user && !current_user.house_members.include?(@rep)%>
          <%= button_to "Add to Favorites" , "/house_members/#{@rep.id}/favorites", method: :post%>
        <% else %>
           <p>Click on Register to favorite</p>
        <% end %>
        <br class='rep-dob'>Date of Birth: <%= Date.parse(@rep.dob).strftime('%B %-d, %Y') %>
        <br class='rep-gender'>Gender: <%= @rep.gender %>
        <br class='rep-party'>Party: <%= @rep.party %>
        <% if @rep.leadership_role %>
          <br class='rep-leadership'>Leadership Role: <%= @rep.leadership_role %>
        <% end %>
        <% if @rep.cook_pvi %>
          <br class='rep-cook_pvi'>District's Cook PVI: <%= @rep.cook_pvi %>
          <span class="tooltip-data tool-format">?</span>
          <div id="popup">The Cook PVI is a measure of a district's partisanship. An even district has roughly the same number of Democrats and Republicans. The higher the number D or R, the more Democratic or Republican the district is.</div>
        <% end %>
        <% if @rep.dw_nominate %>
          <br class='rep-dw_nominate'>DW NOMINATE Score: <%= @rep.dw_nominate %>
          <span class="dw-data tool-format">?</span>
          <div id="popup" class="dw-popup">The DW-Nominate is a measure of a representative’s partisanship. The closer to -1 a representative is, the more liberal their positions are - the closer they are to +1, the more conservative their positions are.</div>
        <% end %>
        <% if @rep.office %>
          <br class='rep-office'>D.C. Office: <%= @rep.office %>
        <% end %>
        <% if @rep.phone %>
          <br class='rep-phone'>Office Phone: <%= @rep.phone %>
        <% end %>
        <% if @rep.url %>
          <br class='rep-url'>Official Website: <%= link_to nil, @rep.url %>
        <% end %>
        <% if @rep.contact_form %>
          <br class='rep-contact'><%= link_to "Contact #{@rep.first_name} #{@rep.last_name}", @rep.url %>
        <% end %>
        <% if @rep.facebook_account %>
          <br class='rep-facebook'>Facebook: <%= link_to @rep.facebook_account, "http://www.facebook.com/#{@rep.facebook_account}" %>
        <% end %>
        <% if @rep.twitter_account %>
          <br class='rep-twitter'>Twitter: <%= link_to @rep.twitter_account, "http://www.twitter.com/#{@rep.twitter_account}" %>
        <% end %>
        <% if @rep.total_votes %>
          <br class='rep-total_votes'>Total Votes: <%= @rep.total_votes %>
        <% end %>
        <% if @rep.missed_votes %>
          <br class='rep-missed_votes'>Missed Votes: <%= @rep.missed_votes %>
        <% end %>
        <% if @rep.missed_votes_percentage %>
          <br class='rep-missed_votes_percentage'>Missed Votes Percentage: <%= @rep.missed_votes_percentage %> %
        <% end %>
        <% if @rep.votes_with_percentage %>
          <br class='rep-votes_with_percentage'>Votes with Party Percentage: <%= @rep.votes_with_percentage %> %
        <% end %>
        <% if @rep.votes_without_party_percentage %>
          <br class='rep-votes_without_party_percentage'>Votes Against Party Percentage: <%= @rep.votes_without_party_percentage %> %
        <% end %>
      </div>
      <div class="col-lg-3">
        <%= image_tag("https://github.com/unitedstates/images/blob/gh-pages/congress/450x550/#{@rep.congress_id}.jpg?raw=true", class:'img-fluid rounded mb-4 mb-lg-0', id: 'rep-image', alt:"/images/image-not-found.png") %>
        <br>
        <br>
        <a class="btn btn-primary" href="/bills?name=<%= @rep.full_name %>&congress_id=<%= @rep.congress_id %>">Compare Positions</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    </section>
</body>

</html>
<script>
var e = document.querySelector('.tooltip-data');
e.onmouseover = function() {
  document.getElementById('popup').style.display = 'block';
}
e.onmouseout = function() {
  document.getElementById('popup').style.display = 'none';
}
var q = document.querySelector('.dw-data');
q.onmouseover = function() {
  document.querySelector('.dw-popup').style.display = 'block';
}
q.onmouseout = function() {
  document.querySelector('.dw-popup').style.display = 'none';
}
</script>
