<!DOCTYPE html>
<html>
<head>
<style>
#bills-table {
  border-collapse: collapse;
  width: 100%;
}

#bills-table td, #bills th {
  border: 1px solid #ddd;
  padding: 8px;
}

#bills-table tr:nth-child(even){background-color: #f2f2f2;}

#bills-table tr:hover {background-color: #ddd;}

#bills-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

  <h1 align='center'>Compare Your Votes with @representative.name</h1>
  <br>
  <h4>For the bills below, select "YES" if you would vote for the bill or "NO" if you would vote against the bill.</h4>
  <h5>Each bill title is a clickable links to the bill's official page on the Congress website, where you can find additional information and the full bill text.</h5>
  <br>
<table id="bills-table">
  <tr>
    <th id='bill-summary'><h4 id='bill-title'>Bill Title (link to full bill)</h4>
    Bill Summary</th>
    <th id='vote-yes'>Vote YES</th>
    <th id= 'vote-no'>Vote NO</th>
  </tr>
  <% if @bill %>
  <tr>
    <td><h4><%= link_to(@bill.short_title, @bill.congress_url, target: 'new') %></h4>
      <%= @bill.summary_short %></td>
      <td><%= radio_button_tag @bill.bill_id, "yes" %> YES</td>
      <td><%= radio_button_tag @bill.bill_id, "no" %> NO</td>
    </tr>
  <% else %>
    <% @bills.each do |bill| %>
    <tr>
      <td><h4><%= link_to(@bill.short_title, @bill.congress_url, target: 'new') %></h4>
        <%= @bill.summary_short %></td>
        <td><%= radio_button_tag @bill.bill_id, "yes" %> YES</td>
        <td><%= radio_button_tag @bill.bill_id, "no" %> NO</td>
      </tr>
      <% end %>
    <% end %>
</table>
<br>
  <div id="submit-button", align='center'>
    <%= button_to 'Submit Your Votes and Get Your Comparison Score', results_path  %>
  </div>
</body>
</html>
