<div class="container" style="margin-top:100px;">
  <div class="row">
    <div class="col">
    <h1 class="text-center">Representatives from <%= @state %></h1>
    </div>
  </div>
</div>
<br><br><br>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>House Members</h3><br>
    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-4" style="margin-left:75px;">
      <h3 class="text-right">Senators</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3 text-center">
      <div class="representatives-scrollable">
        <% @members.each do |member| %>
          <div class="card member" style="width: 12rem;">
            <img class="card-img-top rep-image" src="https://theunitedstates.io/images/congress/225x275/<%= member.congress_id %>.jpg" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title name"><%= member.full_name %>
              </h6>
              <p class='card-district'><% if member.at_large %>
              At-Large District
              <% else %>
              <%= member.district.ordinalize %> District
              <% end %></p>
              <a href="/house_members/<%= member.id %>" class="btn btn-outline-primary">Learn More</a>
            </div>
          </div><br>
        <% end %>
      </div>
    </div>
    <div class="col-6">

    </div>

    <div class="col-3 text-center">
      <% @senators.each do |senator| %>
        <div class="card senator" style="width: 12rem;">
          <img class="card-img-top rep-image" src="https://theunitedstates.io/images/congress/225x275/<%= senator.congress_id %>.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-text name"><%= senator.full_name %>
            </h6>
            <p><%= senator.state_rank.capitalize %> Senator</p>
            <a href="/senators/<%= senator.id %>" class="btn btn-outline-primary">Learn More</a>
          </div>
        </div><br>
      <% end %>
    </div>
  </div>
</div>
