<div class="container" style="margin-top:100px;">
  <div class="row">
    <div class="col">
    <% if @rep.class == HouseMember %>
    <h1 class="text-center">Your Comparison With <%= link_to @rep.full_name, house_member_path(@rep) %></h1>
    <% else %>
    <h1 class="text-center">Your Comparison With <%= link_to @rep.full_name, senator_path(@rep) %></h1>
    <% end %>
    <img src="<%= SinatraService.new.get_image(@rep.congress_id) %>" class="rounded mx-auto d-block rep-img" alt="Responsive image"><br><br>
    <h1 class="text-center comparison-score">Score: <%= number_to_percentage(@comparison_score, precision: 0) %></h1>
    </div>
  </div>
</div>
<br><br><br>

<div class="container">
  <div class="row">
    <div class="col-6 text-center agreed-votes">
      <h2>Bills You Agreed On</h2><br>
      <% @matching_bills&.each do |bill| %>
        <li><%= bill %></li><br>
      <% end %>
    </div>


    <div class="col-6 text-center disagreed-votes">
      <h2>Bills You Disagreed On</h2><br>
      <% @not_matching_bills&.each do |bill| %>
        <li><%= bill %></li><br>
      <% end %>
    </div>
  </div>
</div>
<br><br>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <a href=<%= "https://twitter.com/intent/tweet?text=" + url_encode("I matched with @#{@rep.twitter_account} #{number_to_percentage(@comparison_score, precision: 0)} of the time. Check out https://represent-application.herokuapp.com/ to see how you match with your local representatives!") %> target="_blank" class="tweet-button">Send a Tweet Your Rep!</a>
    </div>
  </div>
</div>
<br><br>


