<!DOCTYPE html>
<html>
  <head>
    <title>Represent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">REPresent</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <% if current_user %>
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <% end %>
          <% if !current_user %>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <% end %>
        </ul>
        <container class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Select State
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">AL</a>
            <a class="dropdown-item" href="#">AK</a>
            <a class="dropdown-item" href="#">AZ</a>
            <a class="dropdown-item" href="#">AR</a>
            <a class="dropdown-item" href="#">CA</a>
            <a class="dropdown-item" href="#">CO</a>
            <a class="dropdown-item" href="#">CT</a>
            <a class="dropdown-item" href="#">DE</a>
            <a class="dropdown-item" href="#">FL</a>
            <a class="dropdown-item" href="#">GA</a>
            <a class="dropdown-item" href="#">HI</a>
            <a class="dropdown-item" href="#">ID</a>
            <a class="dropdown-item" href="#">IL</a>
            <a class="dropdown-item" href="#">IN</a>
            <a class="dropdown-item" href="#">IA</a>
            <a class="dropdown-item" href="#">KS</a>
            <a class="dropdown-item" href="#">KY</a>
            <a class="dropdown-item" href="#">LA</a>
            <a class="dropdown-item" href="#">ME</a>
            <a class="dropdown-item" href="#">MD</a>
            <a class="dropdown-item" href="#">MA</a>
            <a class="dropdown-item" href="#">MI</a>
            <a class="dropdown-item" href="#">MN</a>
            <a class="dropdown-item" href="#">MS</a>
            <a class="dropdown-item" href="#">MO</a>
            <a class="dropdown-item" href="#">MT</a>
            <a class="dropdown-item" href="#">NE</a>
            <a class="dropdown-item" href="#">NV</a>
            <a class="dropdown-item" href="#">NH</a>
            <a class="dropdown-item" href="#">NJ</a>
            <a class="dropdown-item" href="#">NM</a>
            <a class="dropdown-item" href="#">NY</a>
            <a class="dropdown-item" href="#">NC</a>
            <a class="dropdown-item" href="#">ND</a>
            <a class="dropdown-item" href="#">OH</a>
            <a class="dropdown-item" href="#">OK</a>
            <a class="dropdown-item" href="#">OR</a>
            <a class="dropdown-item" href="#">PA</a>
            <a class="dropdown-item" href="#">RI</a>
            <a class="dropdown-item" href="#">SC</a>
            <a class="dropdown-item" href="#">SD</a>
            <a class="dropdown-item" href="#">TN</a>
            <a class="dropdown-item" href="#">TX</a>
            <a class="dropdown-item" href="#">UT</a>
            <a class="dropdown-item" href="#">VT</a>
            <a class="dropdown-item" href="#">VA</a>
            <a class="dropdown-item" href="#">WA</a>
            <a class="dropdown-item" href="#">WV</a>
            <a class="dropdown-item" href="#">WI</a>
            <a class="dropdown-item" href="#">WY</a>
          </div>
        </container>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <% flash.each do |name, msg| %>
      <div class="<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
