<!DOCTYPE html>
<html>
  <head>
    <title>Represent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">REPresent</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <% if current_user %>
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <% end %>
          <% if !current_user %>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <% end %>
        </ul>
        <container class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Select State
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Alabama</a>
            <a class="dropdown-item" href="#">Alaska</a>
            <a class="dropdown-item" href="#">Arizona</a>
            <a class="dropdown-item" href="#">Arkansas</a>
            <a class="dropdown-item" href="#">California</a>
            <a class="dropdown-item" href="#">Colorado</a>
            <a class="dropdown-item" href="#">Connecticut</a>
            <a class="dropdown-item" href="#">Delaware</a>
            <a class="dropdown-item" href="#">Florida</a>
            <a class="dropdown-item" href="#">Georgia</a>
            <a class="dropdown-item" href="#">Hawaii</a>
            <a class="dropdown-item" href="#">Idaho</a>
            <a class="dropdown-item" href="#">Illinois</a>
            <a class="dropdown-item" href="#">Indiana</a>
            <a class="dropdown-item" href="#">Iowa</a>
            <a class="dropdown-item" href="#">Kansas</a>
            <a class="dropdown-item" href="#">Kentucky</a>
            <a class="dropdown-item" href="#">Louisiana</a>
            <a class="dropdown-item" href="#">Maine</a>
            <a class="dropdown-item" href="#">Maryland</a>
            <a class="dropdown-item" href="#">Massachusetts</a>
            <a class="dropdown-item" href="#">Michigan</a>
            <a class="dropdown-item" href="#">Minnesota</a>
            <a class="dropdown-item" href="#">Mississippi</a>
            <a class="dropdown-item" href="#">Missouri</a>
            <a class="dropdown-item" href="#">Montana</a>
            <a class="dropdown-item" href="#">Nebraska</a>
            <a class="dropdown-item" href="#">Nevada</a>
            <a class="dropdown-item" href="#">New Hampshire</a>
            <a class="dropdown-item" href="#">New Jersey</a>
            <a class="dropdown-item" href="#">New Mexico</a>
            <a class="dropdown-item" href="#">New York</a>
            <a class="dropdown-item" href="#">North Carolina</a>
            <a class="dropdown-item" href="#">North Dakota</a>
            <a class="dropdown-item" href="#">Ohio</a>
            <a class="dropdown-item" href="#">Oklahoma</a>
            <a class="dropdown-item" href="#">Oregon</a>
            <a class="dropdown-item" href="#">Pennsylvania</a>
            <a class="dropdown-item" href="#">Rhode Island</a>
            <a class="dropdown-item" href="#">South Carolina</a>
            <a class="dropdown-item" href="#">South Dakota</a>
            <a class="dropdown-item" href="#">Tennessee</a>
            <a class="dropdown-item" href="#">Texas</a>
            <a class="dropdown-item" href="#">Utah</a>
            <a class="dropdown-item" href="#">Vermont</a>
            <a class="dropdown-item" href="#">Virginia</a>
            <a class="dropdown-item" href="#">Washington</a>
            <a class="dropdown-item" href="#">West Virginia</a>
            <a class="dropdown-item" href="#">Wisconsin</a>
            <a class="dropdown-item" href="#">Wyoming</a>
          </div>
        </container>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <% flash.each do |name, msg| %>
      <div class="<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
