<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Represent</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <%= javascript_include_tag 'application' %>
    <style type='text/css' >body{background-color:rgb(0,0,0);background-image:url(http://www.zingerbugimages.com/backgrounds/white_marble_background_seamless.jpg);background-position:top left;background-repeat:repeat;background-attachment:fixed;}</style>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left:100px;">
        <ul class="navbar-nav mr-auto">
          <% if current_user %>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="navbar-text font-weight-bold">
            Welcome, <%= current_user.name %>
          </li>
          <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/google_oauth2">Register/Login with Google</a>
          </li>
          <% end %>
        </ul>
        <% if @representative.class == HouseMember %>
          <h3 class ="text-center;" style="margin-right:100px;">Your chosen representative is <%= link_to @name, house_member_path(@representative.id)%></h3>
        <% else %>
          <h3 class ="text-center;" style="margin-right:100px;">Your chosen representative is <%= link_to @name, senator_path(@representative.id)%></h3>
        <% end %>
        <form class="form-inline my-2 my-lg-0">
          <%= render "/layouts/search" %>
        </form>
      </div>
    </nav>
    <%= render "/layouts/logo" %>
    <% flash.each do |name, msg| %>
      <div class="<%=name%>-flash" style="margin-top:50px;margin-left:500px;position:fixed;">
        <p><b><%= msg %></b></p>
      </div>
    <% end %>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </body>
</html>
